/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

#root {
  font-family: "Roboto", sans-serif;
  --cor-primaria: #072854;
  --cor-secundaria: #2798ba;
  --cor-confirma: #2cbd62;
  --cor-cinza: #cccccc;
  --cor-cinza-claro: #eeeeee;
  --cor-cinza-medio: #dfdfdf;
  --cor-cinza-escuro: #444444;
}

body {
  font-size: 1rem;
  font-weight: 400;
}

main {
  width: 100%;
}

button {
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

input {
  display: block;
  outline: 2px solid var(--cor-cinza);
  width: 100%;
  padding: 8px 10px;
  font-size: 1.1rem;
}

input:focus {
  outline: 2px solid var(--cor-primaria);
}

input.erro-input {
  outline: 2px solid #ff0000;
}

.secao-form {
  padding-top: 10rem;
  margin: 0 auto;
  max-width: 25rem;
  color: var(--cor-primaria);
  font-weight: 500;
}

.secao-lead {
  padding-top: 10rem;
  margin: 0 auto;
  max-width: 40rem;
  color: var(--cor-primaria);
  font-weight: 500;
}

.secao-container {
  padding: 1.6rem 2.4rem;
}

#logo {
  display: block;
  margin: 0 auto;
  width: 70%;
}

.secao-container > form {
  margin-top: 2.8rem;
}

.grupo-input {
  margin-bottom: 0.4rem;
}

.img-margem {
  margin-bottom: 2.8rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  color: var(--cor-cinza-escuro);
}

label {
  display: block;
  margin-bottom: 0.4rem;
}

form span {
  color: #ff0000;
}

form span > span {
  font-size: 0.8rem;
}

.link-conta {
  font-size: 0.9rem;
  width: 100%;
  display: flex;
  justify-content: end;
  margin: 0.3rem 0 2rem 0;
}

.botao-confirma {
  color: #ffffff;
  background-color: var(--cor-confirma);
  padding: 0.8rem 1rem;
  width: fit-content;
  border-radius: 8px;
  align-self: center;
}

nav button {
  color: var(--cor-primaria);
}

.senha-container {
  position: relative;
}

.botao-senha {
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-38%);
}

.p-senha {
  margin-top: 0.4rem;
  font-size: 0.9rem;
}

nav {
  padding: 1.2rem 2.4rem;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: flex-end;
  font-size: 1.2rem;
}

nav > img {
  max-height: 1.2rem;
}

.botao-form {
  color: #ffffff;
  background-color: var(--cor-secundaria);
  padding: 0.8rem 1rem;
  width: fit-content;
  border-radius: 8px;
  align-self: center;
}

.grupo-oportunidades {
  display: flex;
  gap: 0.4rem;
  font-size: 0.9rem;
  align-items: center;
}

.grupo-oportunidades > label {
  margin: 0;
}

input[type="checkbox"] {
  all: revert;
  height: 1.1rem;
  width: 1.1rem;
}

input[type="checkbox"]:checked {
  accent-color: var(--cor-secundaria);
}

form h1 {
  margin-bottom: 1rem;
  font-size: 1.7rem;
}

form h2 {
  margin-bottom: 0.6rem;
  font-size: 1.4rem;
}

form h2:not(:first-of-type) {
  margin-top: 1rem;
}

.botao-secundario {
  color: #ffffff;
  background-color: var(--cor-secundaria);
  padding: 0.8rem 1rem;
  border-radius: 8px;
  margin-top: 1.2rem;
  align-self: flex-end;
}

.leads-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.tabela-leads {
  margin-top: 1rem;
}

.leads-linha {
  display: flex;
  height: 3.5rem;
  margin-bottom: 0.1rem;
  border-top: 2px solid var(--cor-cinza);
  border-bottom: 2px solid var(--cor-cinza);
}

.leads-linha-conteudo {
  background-color: var(--cor-cinza-medio);
}

.leads-slot {
  /* width: 33%; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.leads-slot h1 {
  text-align: center;
  display: inline-block;
}

.leads-slot button {
  height: 90%;
  width: 30%;
  background-color: var(--cor-cinza-claro);
  text-align: center;
  border: 1px solid var(--cor-cinza-escuro);
}
