/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

#root {
  font-family: "Roboto", sans-serif;
  --cor-principal: #072854;
  --cor-confirma: #2cbd62;
}

body {
  font-size: 1.1rem;
  font-weight: 400;
}

main {
  width: 100%;
}

button {
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

input {
  display: block;
  outline: 2px solid #cccccc;
  width: 100%;
  padding: 8px 10px;
  font-size: 1.1rem;
}

input:focus {
  outline: 2px solid var(--cor-principal);
}

.secao-form {
  padding-top: 10rem;
  margin: 0 auto;
  max-width: 25rem;
  color: var(--cor-principal);
  font-weight: 500;
}

.secao-container {
  padding: 1.6rem 2.4rem;
}

#logo {
  display: block;
  margin: 0 auto;
  width: 70%;
}

.secao-container > form {
  margin-top: 2.8rem;
}

.grupo-input {
  margin-bottom: 0.4rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

label {
  display: block;
  margin-bottom: 0.4rem;
}

form span {
  color: #ff0000;
}

.link-conta {
  font-size: 0.9rem;
  width: 100%;
  display: flex;
  justify-content: end;
  margin: 0.3rem 0 2rem 0;
}

.botao-confirma {
  color: #ffffff;
  background-color: var(--cor-confirma);
  padding: 0.8rem 1rem;
  width: fit-content;
  border-radius: 8px;
  align-self: center;
}
